.con {
  padding: 1rem 0.7rem;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.33rem;
  border-top-right-radius: 3.3rem;
  border: 1px solid var(--dark-33);
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(0.42rem);
  cursor: pointer;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header_title {
  font-size: 1.3rem;
}

.title {
  margin-bottom: 1rem;
}
.description {
  font-size: 1.1rem;
  line-height: 1.42;
  margin-bottom: 0.5rem;
}
