.checkpoint_item {
  /* color: gray; */
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.42rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.checkpoint_item_title {
  font-size: 1.3rem;
  margin-bottom: 0.42rem;
  color: rgba(23, 6, 0, 0.9);
}
.checkpoint_text {
  color: #170600b3;
}
