.side_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fbf8f1;
  padding: 3rem 0;
}

.firma {
  text-align: center;
}

.middle_icons {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
