.con {
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  overflow-x: hidden;
  padding: 0.33rem;
  padding-left: 0;
}

.main {
  overflow-x: hidden;
  width: 100vw;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--cream);
  position: relative;
  flex-shrink: 0;
}
