.con {
  min-height: 100vh;
  background-color: #170600;
  display: flex;
  overflow: hidden;
  padding: 0.33rem;
  padding-left: 0;
}

.main {
  overflow: hidden;
  width: 100vw;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #fbf8f1;
  position: relative;
  flex-shrink: 0;
}

.title {
  color: #170600;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2vh;
  margin-bottom: 12vh;
}
.firma_con_con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firma_con {
  display: flex;
  align-items: center;
}
.firma {
  margin-left: 0.42rem;
}

.progress_circle {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eebc73;
  color: #fbf8f1;
  font-weight: 600;
  font-size: 1.1rem;
}

.avatar_con {
  width: 3.3rem;
  aspect-ratio: 1;
  border-radius: 3.3rem;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

/* checkpoint */

.checkpoint_con {
  padding: 0 1rem;
}

.checkpoint_title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.checkpoint_item {
  color: gray;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.42rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkpoint_item_title {
  font-size: 1.3rem;
  margin-bottom: 0.42rem;
}
.checkpoint_text {
  opacity: 0.7;
}
