.con {
  min-height: 100vh;
  background-color: #170600;
  display: flex;
  overflow: hidden;
}

.main {
  overflow: hidden;
  width: 100vw;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #fbf8f1;
  word-break: keep-all;
}
